* {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'sans-serif';
}

body {
    background-color: #eee;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid #fff;
    color: black;
    padding: 1rem;
    border-radius: 4px;
}