.BannerContainer{
    position: absolute;
    top:72px;
    left:0;
    width:100%;
    height: 586px;
    display: flex;
}

.BannerBackground{
    width:100%;
    height: 586px;
    position: absolute;
    overflow: hidden;
}

.BannerImg{
    height: 586px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    opacity: 0.3;
    filter: blur(8px);
}

/* .BannerFade {
    height: 37rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(255,255,255, 0.71),
            rgb(255, 255, 255));
} */

.BannerFade {
    position: absolute;
    height: 25rem;
    width: 100%;
    top: 200px;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(255, 255, 255, 0.75),
            rgb(255, 255, 255));
}

.BannerObjects{
    margin: 0 auto;
    max-width: min(1280px, 100% - 40px);
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

@media (min-width: 1024px) {
    .BannerInfo {
        width: 50%;
        padding: 110px 20px 44px 30px;
        align-items: flex-start;
    }
}

.BannerInfo{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
}

@media (min-width: 1024px) {
    .BannerTitle {
        text-align: left;
        max-width: 100%;
        margin-right: 10px;
    }
}

@media (min-width: 1200px) {
    .BannerTitle {
        font: 45px;
    }
}

.BannerTitle{
    margin: 0px;
    font-weight: 600;
    /* color: rgb(4, 17, 29); */
    color: black;
    line-height: 110%;
    font-style: bold;
    font-size: 45px;
}

@media (min-width: 1024px) {
    .BannerTxt {
        font-size: 24px;
        text-align: left;
    }
}

.BannerTxt{
    margin-top: 20px;
    max-width: 400px;
    z-index: 2;
    color: rgb(53, 56, 64);
    font-weight: 400;
}

@media (min-width: 1024px) {
    .BannerBtns {
        margin-top: 40px;
    }
}

.BannerBtns{
    display: flex;
    z-index:2;
}

.Btn1Cont{
    margin-right: 20px;
}

@media (min-width: 1024px) {
    .Btn1 {
        width: 167px;
    }
}

.Btn1{
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media (min-width: 1024px) {
    .Btn2 {
        width: 167px;
    }
}

.Btn2{
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(32, 129, 226);
    text-decoration: none;
}

.Btn1:hover, .Btn2:hover{
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.Btn1:hover{
    background-color: rgb(29, 108, 187);
}

.Info2Cont{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

@media (min-width: 1024px) {
    .Btn3Cont {
        padding-top: 40px;
    }
}

.Btn3Cont{
    z-index: 2;
    cursor: pointer;
    align-self: flex-start;
    color: rgb(32, 129, 226);
    text-decoration: none;
}

.divCont{
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    display: flex;
    z-index: 2;
    cursor: pointer;
    align-self: flex-start;
}

.textoBtn3{
    margin-left: 8px;
    font-weight: 600;
    color: rgb(32, 129, 226);
    font-size: 16px;
    font-weight: 600;
}

.iconoBtn3{
    font-size: 24px !important;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.iconoBtn3:hover, .textoBtn3:hover {
    color: rgb(29, 108, 187);
}

@media (min-width: 1024px) {
    .BannerImg2 {
        width: 50%;
        padding: 60px 0px;
        align-items: flex-end;
    }
}

.BannerImg2 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
}

@media (min-width: 1024px) {
    .articuloCont {
        max-width: 550px;
        margin-right: 30px;
    }
}

.articuloCont{
    width: 100%;
    background-color: rgb(251, 253, 255);
    flex-direction: column;
    border-radius: 10px;
    z-index: 2;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    display: flex;
}

.imgLink{
    border-radius: 10px;
    color: rgb(32, 129, 226);
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.imgLink:hover{
    box-shadow: 0 0 210px rgba(33, 33, 33, .2);
}

.featImg{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 2;
    border-bottom: 1px solid rgb(229, 232, 235);
}

@media (min-width: 1024px) {
    .footer {
        margin-top: -1px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 15px;
    }
}

.footer{
    border: none;
    width: 100%;
    font-weight: 600;
    text-align: left;
    display: flex;
    box-sizing: border-box;
    height: 72px;
}

.featuredPic{
    align-self: center;
    order: 2;
    margin-right: 16px;
    margin-top: 14px;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 50%;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 38px;
    height: 38px;
}

.featImg2{
    object-fit: cover;
    width: 38px;
    height: 38px;
    border-radius: 50%
}

.featTextCont{
    margin-left: -3px;
    align-self: stretch;
    flex: 1 1 auto;
    flex-flow: column;
    display: flex;
    align-items:center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 16px;
    margin-top: 14px;
    order: 3;
    overflow: hidden;
    font-size: 16px;
    align-items: flex-start;
}

.span1Cont{
    font-weight: 600;
    font-size: 14px;
    color: rgb(4, 17, 29);
}

.span1{
    font-size: 14px;
    line-height: 20px;
    color: rgb(4, 17, 29);
}


@media (min-width: 1024px) {
    .span2Cont {
        margin-top: 0px;
    }
}

.span2Cont{
    font-size: 14px;
    line-height: 20px;
    color: rgb(4, 17, 29);
    font-weight: 500;
}